/* spacing on all sections */
.section {
    margin-top: 4rem;
    padding-top: 4rem;
}
.section:last-of-type {
    padding-bottom: 4rem;
}
    
/* hero background image */
.bgimage {
    height:100vh;
    background: url('images/heroImage.jpg');
    background-size:cover;
    position:relative;
    padding: 0;
    margin: 0;
}
/* text css above hero image*/
.hero_title {
    padding-top: 10rem;
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero_text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.image_about {
    width: 100%;
}

.navbarDark {
    background: #000;
}


 .social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover, 
.fa-twitch:hover {
    color: #fff;
}
.fab {
    color: #000000;
}

.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #008000;
}

.footer {
    background-color: #808080;
    text-align: center;
}

.copy-link-btn {
    width: 150px; /* set the width of the button */
    height: 20px; /* set the height of the button */
    border-radius: 3px; /* add rounded edges */
    background-color: #4CAF50; /* initial background color is a dark green */
    color: #fff; /* text color is white */
    border: none;
    padding: 0 20px; /* add some padding inside the button */
    font-size: 16px; /* set the font size of the button text */
    cursor: pointer; /* change the mouse cursor to a pointing hand when hovering over the button */
    text-align: center;
    justify-content: center;
}

.copy-link-btn:hover {
  background-color: #3e8e41; /* change the background color to a lighter green on hover */
}





